.popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    content: "";
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 2;
}