.popup__container {
    height: 330px;
    width: 430px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 680px) {
    .popup__container {
        height: 322px;
        width: 282px;
    }
}