.popup__container{
    height: 330px;
    width: 430px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: absolute;
    top: calc(50% - 330px/2);
    left: calc(50% - 430px/2);
    display: flex;
    flex-direction: column;
}