.edit-button {
    max-width: 24px;
    max-height: 24px;
    background-color: transparent;
    margin-left: 25px;
    border: 1px solid #FFFFFF;
    display: inline-flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5.25px;
}

@media screen and (max-width: 680px) {
    .edit-button {
        max-width: 18px;
        max-height: 18px;
        margin-left: 10px;
    }
}